.Rproj.user
.Rhistory
.RData
.Ruserdata
notebooks/.ipynb_checkpoints/Chapter 01-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Chapter 01 - Introduction-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Chapter 02 - Data Preprocessing-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Chapter 03 - EDA-checkpoint.ipynb
notebooks/.ipynb_checkpoints/PCA - Housing Example-checkpoint.ipynb
notebooks/.ipynb_checkpoints/CI Monte Carlo-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Univariate and Multivariate Statistics-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Chapter 07 - Preparing to Model the Data-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Chapter 08 - Simple Linear Regression-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Simple Linear Regression - Chapter 8-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Chapter 09 - Multiple Regression and Model Building-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Simple Linear Regression - Gradient Descent-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Wine Dataset-checkpoint.ipynb
notebooks/.ipynb_checkpoints/K-NN with the Wine Dataset-checkpoint.ipynb
notebooks/iris.pdf
notebooks/iris
notebooks/.ipynb_checkpoints/Decision Tree - Iris Dataset-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Logistic Regression Example - Diabetes Dataset-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Logistic Regression Example - Titanic Data-checkpoint.ipynb
